.flexContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-image: url("../images/4.jpeg");
    background-size: cover;
    background-position: center;
    flex-direction: row;
  }
  
  .login {
    border: 5px solid #ccc;
    width: 400px;
    height: 500px;
    border-radius: 0px 10px 10px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    background-image: url("../images/1.jpeg");
    border: 5px solid #ccc;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    height: 500px;
    width: 400px;
    background-size: cover;
    background-position: center;
  }
  
  .login > form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .input > input {
    width: 90%;
    height: 40px;
    border: 1px solid brown;
    border-radius: 20px;
    margin: 20px;
    font-size: 18px;
    padding: 20px;
    border: none;
    background-color: whitesmoke;
    color: black;

  }

  .input > input:focus {
    outline: 1px solid brown;
  }

  .btn {
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    background: none;
    color: white;
    font-size: 20px;
}

.btns {
    height: 40px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 20px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    
}

.btn:hover {
    cursor: pointer;
    background-color: black;
}

.error {
    color: red;
    font-size: 18px;
    margin: 10px;
}